* {
  box-sizing: border-box;
  margin: 0px;
}
body {
  background-color: whitesmoke;
}

header {
  margin-bottom: 10px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: VT323, monospace;
}

section {
  display: flex;
  flex-direction: row;
}
label {
  padding: 2em;
  font-weight: bold;
  font-size: 18px;
}
input {
  border: solid 1px #a626d3;
  border-radius: 4px;
  margin: 1em;
  padding: 0.3rem;
}

button {
  display: inline-block;
  padding: 5px 35px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  border: none;
  border-radius: 15px;
  font-family: VT323, monospace;
}
.meme-image {
  width: 600px;
  height: 350px;
}
